body{
    background-color: white;
}
img.logo{margin-left: auto;
margin-right: auto;
display: block;}

header ::after{content: '';
    display: table;
    clear:both;
}

nav{
    background-color: #82B1E9;
    
}
.nav{
margin: 0 auto;}

nav ul{margin: 0;
padding: 0; 
list-style: none;}

nav li{
    display: inline-block;
    margin: 0 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-size: 20px;
}

nav ul li a{color:#113B6D;
text-decoration: none;
text-transform: uppercase;
}
nav ul li a :hover{color: #8F4C1A;}

nav a ::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #82B1E9;
}

table img{
    width: 200px;
    height: 200px;
}
table {margin-left: auto;
margin-right: auto;
width:60%;
padding-top: 20px;}

td{
    padding:25px;
}